
<div class="wrapper">
    <app-head-menu-bar></app-head-menu-bar>
    <div class="container">
        <div class="left-toolbar">
            <app-left-toolbar></app-left-toolbar>
        </div>
        <div class="spacer"></div>
        <div class="right-content">
            <app-message-alert [alerMsg]="alerMsg"></app-message-alert>
            <div class="title">
                <h1><button mat-button class="parent-bread-crum parent-bread-crum-link" routerLink="/lop">Lớp</button> > <span class="child-bread-crum">Danh sách học sinh</span></h1>
            </div>
            <hr>
            <div class="data-table">
                <table mat-table [dataSource]="dataSource">
                    <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
                
                    <!-- Position Column -->
                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns;index as i" >
                        <th class="row-column" mat-header-cell *matHeaderCellDef> 
                            <div>
                                <span class="content-table-header">{{ columnName[column]}}</span>
                            </div>
                        </th>
                        <td class="row-column" mat-cell *matCellDef="let element"> 
                            <div><span *ngIf="column!=='gioiTinh'" class="content-table">{{element[column]}}</span></div>
                            <div><span *ngIf="column==='gioiTinh'" class="content-table">{{ element[column]?'Nữ': 'Nam' }}</span></div>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- Message if no data -->
                <div class="message-no-data" *ngIf="data.length === 0 ">
                    Không có data.
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            <div class="element-action">
                <div class="example-button-row">
                    <button class="button-cancel" routerLink="/lop" mat-raised-button>Trở về</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>


