
<div class="wrapper">
    <app-head-menu-bar></app-head-menu-bar>
    <div class="container">
        <div class="left-toolbar">
            <app-left-toolbar></app-left-toolbar>
        </div>
        <div class="spacer"></div>
        <div class="right-content">
            <app-message-alert [alerMsg]="alerMsg"></app-message-alert>
            <div class="title">
                <h1><button mat-button class="parent-bread-crum parent-bread-crum-link" routerLink="/mon-an">Món ăn</button> > <span class="child-bread-crum">Edit món ăn</span></h1>
            </div>
            <hr>
            <div class="wrapper-form">
                <form ngNativeValidate [formGroup]="editForm">

                    <!-- Tên món ăn -->
                    <div class="row-field">
                        <div class="row-left">
                            <mat-label class="form-label">Tên món ăn</mat-label>
                        </div>
                        <div class="row-right">
                            <mat-form-field class="form-input" appearance="outline">
                                <input matInput formControlName="tenMonAn">
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- validate ten nhan vien -->
                    <div class="row-field" *ngIf="editForm.controls['tenMonAn'].invalid && (editForm.controls['tenMonAn'].dirty || 
                                                    editForm.controls['tenMonAn'].touched)">
                        <div class="row-left">
                        </div>
                        <div class="row-right">
                            <ng-container>
                                <div class="errorValidator" *ngIf="editForm.hasError('required', 'tenMonAn')">
                                    Data is required!
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    
                    <!-- Tên nhân viên -->
                    <div class="row-field">
                        <div class="row-left">
                            <mat-label class="form-label">Nhân viên</mat-label>
                        </div>
                        <div class="row-right">
                            <mat-form-field class="form-input" appearance="outline">
                                <input matInput formControlName="maNhanVien">
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- validate ten nhan vien -->
                    <div class="row-field" *ngIf="editForm.controls['maNhanVien'].invalid && (editForm.controls['maNhanVien'].dirty || 
                                                    editForm.controls['maNhanVien'].touched)">
                        <div class="row-left">
                        </div>
                        <div class="row-right">
                            <ng-container>
                                <div class="errorValidator" *ngIf="editForm.hasError('required', 'maNhanVien')">
                                    Data is required!
                                </div>
                            </ng-container>
                        </div>
                    </div>              
                    
                    <!--  Bũa ăn -->
                    <div class="row-field">
                        <div class="row-left">
                            <mat-label class="form-label">Bữa ăn</mat-label>
                        </div>
                        <div class="row-right">
                            <mat-form-field class="form-input" appearance="outline">
                                <mat-select formControlName="buaAn">
                                    <mat-option value="Bữa sáng">Bữa sáng</mat-option>
                                    <mat-option value="Bữa trưa">Bữa trưa</mat-option>
                                    <mat-option value="Bữa chiều">Bữa chiều</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- validate ten nhan vien -->
                    <div class="row-field" *ngIf="editForm.controls['buaAn'].invalid && (editForm.controls['buaAn'].dirty || 
                                                    editForm.controls['buaAn'].touched)">
                        <div class="row-left">
                        </div>
                        <div class="row-right">
                            <ng-container>
                                <div class="errorValidator" *ngIf="editForm.hasError('required', 'buaAn')">
                                    Data is required!
                                </div>
                            </ng-container>
                        </div>
                    </div>

                </form>
                
            </div>
            <div class="row-field row-field-button">
                <div class="button-form">
                    <button class="button-create" 
                        mat-raised-button
                        [disabled]="editForm.invalid"
                        (click)="editMonAn()"
                        [ngClass]="{disableButton:editForm.invalid}"
                        >Lưu</button>
                </div>
                <div class="button-form">
                    <button class="button-cancel" color="none" routerLink="/mon-an" mat-raised-button>Hủy</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
