<div class="footer">
    <div class="container">
        <div class="header">
            <h1>Trường Mầm Non Ngôi Sao Xanh</h1>
            <hr/>
        </div>
        <div class="content">
            <div class="row">
                <div class="left-content">
                    <h2 class="Dia-Chi">Địa Chỉ</h2>
                    <div class="thong-tin">
                        <span><i class="fa fa-map-marker"></i></span>
                        <span>Tổ 55 Mai Đăng Chơn <br/>
                            P.Hòa Quý,Quận Ngũ Hành Sơn<br/>
                            TP.Đà Nẵng
                        </span>
                    </div>
                </div>
                <div class="right-content">
                    <h2>Thông Tin Liên Hệ</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fa fa-map-marker"></i></span>
                            <p><a href="#">+84 123 456 789</a>
                                <br />
                                <a href="#">+84 987 654 321</a></p>
                        </li>
                        <li>
                            <span><i class="fa fa-envelope"></i></span>
                            <p><a href="#">tmm.mgoisaoxanh@gmail.com</a></p>
                            <p><a href="#">officiel@ngoisaoxanhdn.edu.vn</a></p>
                        </li>
                        <li>
                            <p>https://www.facebook.com/tmn.ngoisaoxanh</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>