<div class="footer">
    <div class="container-header">
        <h1>TRƯỜNG MẦM NON NGÔI SAO XANH</h1>
        <hr/>
    </div>
    <div class="container-footer">
        <div class="left-footer">
            <div class="content-footer">
                <h2>Địa Chỉ</h2>
                <div class="main-text-footer main-text-footer-left">
                    <span><i class="fa fa-map-marker"></i></span>
                    <div class="thong-tin">
                        <span>Tổ 55 Mai Đăng Chơn <br/>
                            P.Hòa Quý,Quận Ngũ Hành Sơn<br/>
                            TP.Đà Nẵng
                        </span>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="center-footer">
            <div class="content-footer">
                <h2 class="gioi-thieu">Giới thiệu</h2>
                <div class="main-text-footer">
                    <div class="content-gioi-thieu">
                        <span>Trường mầm non Ngôi Sao Xanh - Hoà Quý <br>
                           ra đời với mong muốn xây dựng một môi trường giáo dục <br>
                           lý tưởng để trẻ em lứa tuổi mầm non trong khu vực <br>
                           được trải nghiệm và phát triển toàn diện <br>
                           từ thể lực, cảm xúc, kỹ năng đến trí tuệ.<br>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-footer">
            <div class="content-footer">
                <h2>Thông Tin Liên Hệ</h2>
                <div class="main-text-footer">
                    <div>
                        <div class="phone">
                            <span>+84 123 456 789</span>
                            <mat-icon>phone</mat-icon>
                        </div>
                        <div class="phone">
                            <span>+84 987 654 321</span>
                            <mat-icon>phone</mat-icon>
                        </div>
                    </div>
                    <div>
                        <div class="phone">
                            <span>tmm.mgoisaoxanh@gmail.com</span>
                            <mat-icon> email</mat-icon>
                        </div>
                        <div class="phone">
                            <span>officiel@ngoisaoxanhdn.edu.vn</span>
                            <mat-icon> email</mat-icon>
                        </div>
                    </div>
                    <div>
                        <div class="phone">
                            <span>https://www.facebook.com/tmn.ngoisaoxanh</span>
                            <mat-icon>link</mat-icon>
                        </div>
                        <!-- <div class="phone">
                            <span>officiel@ngoisaoxanhdn.edu.vn</span>
                            <mat-icon> email</mat-icon>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!-- <div class="header">
    <h1>Trường Mầm Non Ngôi Sao Xanh</h1>
    <hr/>
</div>
<div class="content">
    <div class="row">
        <div class="left-content">
            <h2 class="Dia-Chi">Địa Chỉ</h2>
            <div class="thong-tin">
                <span><i class="fa fa-map-marker"></i></span>
                <span>Tổ 55 Mai Đăng Chơn <br/>
                    P.Hòa Quý,Quận Ngũ Hành Sơn<br/>
                    TP.Đà Nẵng
                </span>
            </div>
        </div>
        <div class="right-content">
            <h2>Thông Tin Liên Hệ</h2>
            <ul class="info">
                <li>
                    <span><i class="fa fa-map-marker"></i></span>
                    <p><a href="#">+84 123 456 789</a>
                        <br />
                        <a href="#">+84 987 654 321</a></p>
                </li>
                <li>
                    <span><i class="fa fa-envelope"></i></span>
                    <p><a href="#">tmm.mgoisaoxanh@gmail.com</a></p>
                    <p><a href="#">officiel@ngoisaoxanhdn.edu.vn</a></p>
                </li>
                <li>
                    <p>https://www.facebook.com/tmn.ngoisaoxanh</p>
                </li>
            </ul>
        </div>

    </div>
</div> -->