<div class="wrapper">
    <app-head-menu-bar></app-head-menu-bar>
    <div class="container">
        <div class="left-toolbar">
            <app-left-toolbar></app-left-toolbar>
        </div>
        <div class="right-content">
            <app-message-alert [alerMsg]="alerMsg"></app-message-alert>
            <div class="title">
                <h1><button mat-button class="parent-bread-crum parent-bread-crum-link" routerLink="/phieu/cung-cap">Phiếu Cung Cấp</button> > <span class="child-bread-crum">Edit Phiếu Cung Cấp</span></h1>
            </div>
            <hr>
            <div class="wrapper-form">
                <form ngNativeValidate [formGroup]="editForm">


                    <!-- Số Phiếu Cung Câp -->
                    <div class="row-field">
                        <div class="row-left">
                            <mat-label class="form-label">Số Phiếu Cung Cấp</mat-label>
                        </div>
                        <div class="row-right">
                            <mat-form-field class="form-input" appearance="outline">
                                <input matInput formControlName="soPhieuCugCap">
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- validate số phiếu yêu cầu -->
                    <div class="row-field" *ngIf="editForm.controls['soPhieuCugCap'].invalid && (editForm.controls['soPhieuCugCap'].dirty || 
                                                    editForm.controls['soPhieuCugCap'].touched)">
                        <div class="row-left">
                        </div>
                        <div class="row-right">
                            <ng-container>
                                <div class="errorValidator" *ngIf="editForm.hasError('required', 'soPhieuCugCap')">
                                    Data is required!
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <!-- Nhân Viên -->
                    <div class="row-field">
                        <div class="row-left">
                            <mat-label class="form-label">Nhân Viên</mat-label>
                        </div>
                        <div class="row-right">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="maNhanVien">
                                    <mat-option value="null">--- Chọn Nhân Viên ---</mat-option>
                                    <mat-option *ngFor="let nhanvien of listNhanVien" [value]="nhanvien['maNhanVien']">{{nhanvien['name']}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Ngày Lập -->
                    <div class="row-field">
                        <div class="row-left">
                            <mat-label class="form-label">Ngày Lập</mat-label>
                        </div>
                        <div class="row-right">
                            <!-- <mat-form-field class="form-input" appearance="outline">
                                <input matInput formControlName="ngaySinh">
                            </mat-form-field> -->
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="ngayLap" [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>
                    <!-- validate ngay lap -->
                    <div class="row-field" *ngIf="editForm.controls['ngayLap'].invalid && (editForm.controls['ngayLap'].dirty || 
                    editForm.controls['ngayLap'].touched)">
                        <div class="row-left">
                        </div>
                        <div class="row-right">
                            <ng-container>
                                <div class="errorValidator" *ngIf="editForm.hasError('required', 'ngayLap')">
                                    Data is required!
                                </div>
                            </ng-container>
                        </div>
                    </div>


                    <!-- Trạng Thái -->
                    <div class="row-field">
                        <div class="row-left">
                            <mat-label class="form-label">Trạng Thái</mat-label>
                        </div>
                        <div class="row-right">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="trangThai">
                                    <mat-option value='true'>Đã Xác Nhận</mat-option>
                                    <mat-option value='false'>Xác Nhận</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- validate trạng thái -->
                    <div class="row-field" *ngIf="editForm.controls['trangThai'].invalid && (editForm.controls['trangThai'].dirty || 
                editForm.controls['trangThai'].touched)">
                        <div class="row-left">
                        </div>
                        <div class="row-right">
                            <ng-container>
                                <div class="errorValidator" *ngIf="editForm.hasError('required', 'trangThai')">
                                    Data is required!
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <!-- Ghi Chú -->
                    <div class="row-field">
                        <div class="row-left">
                            <mat-label class="form-label">Ghi Chú</mat-label>
                        </div>
                        <div class="row-right">
                            <mat-form-field class="form-input" appearance="outline">
                                <input matInput formControlName="ghiChu">
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- validate ghi chú -->
                    <div class="row-field" *ngIf="editForm.controls['ghiChu'].invalid && (editForm.controls['ghiChu'].dirty || 
                                                editForm.controls['ghiChu'].touched)">
                        <div class="row-left">
                        </div>
                        <div class="row-right">
                            <ng-container>
                                <div class="errorValidator" *ngIf="editForm.hasError('required', 'ghiChu')">
                                    Data is required!
                                </div>
                            </ng-container>
                        </div>
                    </div>

                </form>

            </div>
            <div class="row-field row-field-button">
                <div class="button-form">
                    <button class="button-create" mat-raised-button (click)="editPhieuCungCap()" [disabled]="editForm.invalid" [ngClass]="{disableButton:editForm.invalid}">Lưu</button>
                </div>
                <div class="button-form">
                    <button class="button-cancel" color="none" routerLink="/phieu/cung-cap" mat-raised-button>Hủy</button>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <app-footer></app-footer>
</div>