<div class="wrapper">
    <app-head-menu-bar></app-head-menu-bar>
    <div class="container">
        <div class="left-toolbar">
            <app-left-toolbar></app-left-toolbar>
        </div>
        <div class="right-content">
            <app-message-alert [alerMsg]="alerMsg"></app-message-alert>
            <div class="title">
                <h1><span mat-button class="parent-bread-crum" routerLink="/chi-tiet-yeu-cau">Chi Tiết Yêu Cầu</span></h1>
            </div>
            <hr>
            <div class="data-table">
                <table mat-table [dataSource]="dataSource">
                    <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns;index as i">
                        <th class="row-column" mat-header-cell *matHeaderCellDef>
                            <div>
                                <span class="content-table-header">{{ columnName[column]}}</span>
                            </div>
                        </th>
                        <td class="row-column" mat-cell *matCellDef="let element">
                            <div *ngIf="column!=='chucNang'">
                                <div *ngIf="column!=='id'"><span class="content-table">{{element[column]}}</span></div>
                                <div *ngIf="column==='id'">
                                    <div class="content-table eexample-flex-container">
                                        <a routerLink="/chi-tiet-yeu-cau/edit/{{element.id}}">{{element[column]}}</a>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="column==='chucNang'">
                                <div class="content-table eexample-flex-container">
                                    <!-- <button class="icon-list" title="Danh sách chi tiết yêu cầu" routerLink="/phieu-yeu-cau-thuc-pham/{{element.soPhieuYeuCau}}/chi-tiet-yeu-cau" mat-icon-button aria-label="List CTYC">
                                        <mat-icon>list_alt</mat-icon>
                                    </button> -->

                                    <!-- <button class="icon-edit" title="Edit lớp" routerLink="/lop/edit/{{element.maLop}}" mat-icon-button aria-label="Edit">
                                        <mat-icon>edit</mat-icon>
                                    </button> -->

                                    <button class="icon-delete" title="Xóa Chi Tiết Yêu Cầu" mat-icon-button aria-label="Delete" (click)="deleteChiTietYeuCau(element.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- Message if no data -->
                <div class="message-no-data" *ngIf="data.length === 0 ">
                    Không có data.
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            <div class="element-action">
                <div class="example-button-row">
                    <button class="button-create" routerLink="/chi-tiet-yeu-cau/create" mat-raised-button>Thêm Chi Tiết Yêu Cầu</button>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <app-footer></app-footer>
</div>