<div class="wrapper">
    <app-head-menu-bar></app-head-menu-bar>
    <div class="container">
        <div class="left-toolbar">
            <app-left-toolbar></app-left-toolbar>
        </div>
        <div class="right-content">
            <mat-card class="profile">
                <mat-card-header>
                    <mat-card-title>Thong Tin</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div *ngIf="userAPI">
                        <div class="form-profile">
                            <mat-form-field appearance="fill">
                                <mat-label>UserName</mat-label>
                                <input id="username" [(ngModel)]="userAPI.userName" matInput>
                            </mat-form-field>
                        </div>
                        <div class="form-profile">
                            <mat-form-field appearance="fill">
                                <mat-label>Ho Ten</mat-label>
                                <input id="name" [(ngModel)]="userAPI.name" matInput>
                            </mat-form-field>
                        </div>
                        <div class="form-profile">
                            <mat-form-field appearance="fill">
                                <mat-label>DiaChi</mat-label>
                                <input id="diaChi" [(ngModel)]="userAPI.diaChi" matInput>
                            </mat-form-field>
                        </div>
                        <div class="form-profile">
                            <mat-form-field appearance="fill">
                                <mat-label>DienThoai</mat-label>
                                <input id="dienThoai" [(ngModel)]="userAPI.dienThoai" matInput>
                            </mat-form-field>
                        </div>
                        <div class="form-profile">

                        </div>
                        <div class="form-profile">
                            <mat-form-field appearance="fill">
                                <mat-label>Nguoi Dung</mat-label>
                                <input id="role" [(ngModel)]="userAPI.role" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="clear"></div>
    </div>
    <app-footer></app-footer>
</div>
<!-- <div class="card mt-4">
    <h4 class="card-header">Home</h4>
    <div class="card-body">
        <p>This page can be accessed by <u>all authenticated users</u>.</p>
        <p class="mb-1">Current user from secure api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="userAPI">
            <li>{{userAPI.userName}}</li>
        </ul>
    </div>
</div> -->