<div class="wrapper">
    <app-head-menu-bar></app-head-menu-bar>
    <div class="container">
        <div class="left-toolbar">
            <app-left-toolbar></app-left-toolbar>
        </div>
        <div class="spacer"></div>
        <div class="right-content">
            <app-message-alert [alerMsg]="alerMsg"></app-message-alert>
            <div class="title">
                <h1><button mat-button class="parent-bread-crum parent-bread-crum-link" routerLink="/mon-an">Phiếu Bàn Giao</button> > <span class="child-bread-crum">Thêm Món Ăn</span></h1>
            </div>
            <hr>
            <div class="wrapper-form">
                <form ngNativeValidate [formGroup]="createForm">

                    <!-- Tên Món Ăn-->
                    <div class="row-field">
                        <div class="row-left">
                            <mat-label class="form-label">Tên Món Ăn</mat-label>
                        </div>
                        <div class="row-right">
                            <mat-form-field class="form-input" appearance="outline">
                                <input matInput formControlName="tenMonAn">
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- validate ten món ăn -->
                    <div class="row-field" *ngIf="createForm.controls['tenMonAn'].invalid && (createForm.controls['tenMonAn'].dirty || 
                    createForm.controls['tenMonAn'].touched)">
                        <div class="row-left">
                        </div>
                        <div class="row-right">
                            <ng-container>
                                <div class="errorValidator" *ngIf="createForm.hasError('required', 'tenMonAn')">
                                    Data is required!
                                </div>
                            </ng-container>
                        </div>
                    </div>


                    <!-- Nhân Viên -->
                    <div class="row-field">
                        <div class="row-left">
                            <mat-label class="form-label">Nhân Viên</mat-label>
                        </div>
                        <div class="row-right">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="maNhanVien">
                                    <mat-option value="null">--- Chọn Nhân viên ---</mat-option>
                                    <mat-option *ngFor="let nhanvien of listNhanVien" [value]="nhanvien['maNhanVien']">{{nhanvien['name']}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>


                    <!-- Bua An -->
                    <div class="row-field">
                        <div class="row-left">
                            <mat-label class="form-label">Bữa Ăn</mat-label>
                        </div>
                        <div class="row-right">
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="buaAn">
                                    <mat-option value="null">--- Chọn Bữa Ăn ---</mat-option>
                                    <mat-option value="Bữa Sáng">Bữa Sáng</mat-option>
                                    <mat-option value="Bữa Trưa">Bữa Trưa</mat-option>
                                    <mat-option value="Bữa Chiều">Bữa Chiều</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>


                </form>

            </div>
            <div class="row-field row-field-button">
                <div class="button-form">
                    <button class="button-create" mat-raised-button [disabled]="createForm.invalid" (click)="addMonAn()" [ngClass]="{disableButton:createForm.invalid}">Lưu</button>
                </div>
                <div class="button-form">
                    <button class="button-cancel" color="none" routerLink="/mon-an" mat-raised-button>Hủy</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>