/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.display-inline {
    display: inline;
}

.container {
    background-color: #eee;
    height: 100%;
    position: relative;
    display: flex;
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
}
app-left-toolbar {
    width: 100%;
}

.container-left {
    background-color:#fff;
    height: auto;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 5px;
}

.left-toolbar {
    margin-top: 10px;
    display: flex;
    height: 50%;
    width: 18%;
    position: fixed;
    background-color: inherit;
    padding-left: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.right-content {
    margin-top: 10px;
    background-color:#fff;
    flex: 1;
    height: 100%;
    padding: 10px 15px 10px 10px;
    overflow: auto;
}

.spacer {
    height: 100%;
    flex: 0.26 1 auto;
}

.app-head-menu-bar {
    width: 100%;
}

.active-menu {
    background-color: #32a852;
    color: #f0ffeb;
}

.container-right {
    width: 100%;
    height: auto;
}