
<div class="wrapper">
    <app-head-menu-bar></app-head-menu-bar>
    <div class="container">
        <div class="left-toolbar">
            <app-left-toolbar></app-left-toolbar>
        </div>
        <div class="spacer"></div>
        <div class="right-content">
            <div class="container-right">
                <img class="image-home" src="../../../assets/image/home-page.jpg">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="area-heading  style-two">Our Services</h1>
                        <p class="heading-para ">We promised you that, we always try to take care of your childdren. 
        Early child care is a very important and often overlooked compaonent of child development</p>
                    </div>
                </div>
                <div class="row">
                    <div class="wrapper-init">
                        <div class="row">
                            <div class="item-service">
                                <div class="sin-ser wow fadeInUp" data-wow-delay=".1s">
                                    <img class="image-service" src="../../../assets/image/ser-1.png" alt="">
                                    <div class="ser-det">
                                        <h2>Experience Teachers</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="item-service">
                                <div class="sin-ser wow fadeInUp" data-wow-delay=".3s">
                                    <img class="image-service" src="../../../assets/image/ser-3.png" alt="">
                                    <div class="ser-det">
                                        <h2>Love With Care</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="item-service">
                                <div class="sin-ser wow fadeInUp" data-wow-delay=".5s">
                                    <img class="image-service" src="../../../assets/image/ser-5.png" alt="">
                                    <div class="ser-det">
                                        <h2>Delicious Food</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="item-service">
                                <div class="sin-ser wow fadeInUp" data-wow-delay=".7s">
                                    <img class="image-service" src="../../../assets/image/ser-2.png" alt="">
                                    <div class="ser-det">
                                        <h2>Many Sports</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="item-service">
                                <div class="sin-ser wow fadeInUp" data-wow-delay=".9s">
                                    <img class="image-service" src="../../../assets/image/ser-4.png" alt="">
                                    <div class="ser-det">
                                        <h2>Physical Activity</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="item-service">
                                <div class="sin-ser" data-wow-delay=".99s">
                                    <img class="image-service" src="../../../assets/image/ser-6.png" alt="">
                                    <div class="ser-det">
                                        <h2>Transportation</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>  
            </div>
        </div>

    </div>
    <app-footer></app-footer>
</div>

