
<div class="wrapper">
    <app-head-menu-bar></app-head-menu-bar>
    <div class="nav-bar">
        <img src="../../../assets/image/home-page.jpg">
    </div>
    <div class="welcom-bar">
        <div class="label-welcom">
            <h1>Trường mầm non NGÔI SAO XANH</h1>
        </div>
    </div>
    <div class="container-home">
        <div class="container-quan-ly">
            <div class="title-quan-ly">
                <h1>Quản lý</h1>
            </div>
            <hr>
            <div class="list-quan-ly">
                <div class="wrapper-content-chuc-nang">
                    <!--  -->
                    <div class="chuc-nang" *ngFor="let ql of list_chuc_nang['quanLy']" 
                        style="display: {{ menuMain.includes(ql.id)? '':'none' }}"  
                        routerLink="{{ql['url']}}">
                        <button mat-fab >
                            <mat-icon>{{ ql['icon'] }}</mat-icon>
                        </button>
                        <a class="ten-chuc-nang">{{ ql['name'] }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-quan-ly">
            <div class="title-quan-ly">
                <h1>Phiếu</h1>
            </div>
            <hr>
            <div class="list-quan-ly">
                <div class="wrapper-content-chuc-nang">
                    <div class="chuc-nang" *ngFor="let phieu of list_chuc_nang['phieu']" 
                        style="display: {{ menuMain.includes(phieu.id)? '':'none' }}" 
                        routerLink="{{phieu['url']}}">
                        <button mat-fab >
                            <mat-icon>{{ phieu['icon'] }}</mat-icon>
                        </button>
                        <a class="ten-chuc-nang">
                            {{ phieu['name'] }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

